<div class="register-body">
    <div class="form-register">

        <div class="register-title">Registro</div>
         
       <h3>Nombre</h3>
       <input type="text" required> 


       <h3>Apellido</h3>
       <input type="text" required>

       <h3>Contraseña</h3>
       <input type="password" required>
       
       <h3>Correo</h3>
       <input type="text" required>
      

       <h3>Grupo</h3>

       <div class="button-login-container"> 
        <button id="login-button">REGISTRARSE
        </button> 
    </div>
    </div>

    
</div>
