*{
   
}

.index-body{
    width: 100%;
    height: 800px;
    flex-direction: column;
}

.button-div{
    padding-top: 50px;
    width : 40% ;
    height: 80px;
    margin: 0 auto; /*centrar*/
    display: flex;
    justify-content: right;
}

.button-c-test{
    border:none;
    height: 80px;
    width: 80px;
    border-radius:50%;
    background-color: rgb(115, 218, 250);
    box-shadow: 8px 10px 20px -10px rgb(25, 25, 25);
}

.button-c-test:hover{
    
    background-color: rgb(17, 224, 252);
}

.test-div{
    margin: 0 auto;
    width : 40%;
    height: 650px;
    overflow: scroll;
}

  .test-div::-webkit-scrollbar {
    width: 12px;
  }

  .test-div::-webkit-scrollbar-track {
    
    border-radius: 10px;
  }

  .test-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #340481;
  }

.body-test{
    border: 1px solid rgb(245, 242, 242);
    width : 150px;
    height: 150px;
    margin-left: 2%;
    margin-top: 4%;
    border-radius: 8px;
    display:inline-block;
    overflow: hidden;
    box-shadow: 15px 15px 20px -10px rgb(176, 118, 253);
}


.modal-test{
    width: 100%;
    height: 110%;
    justify-content: center;
    align-items: center;
    color: black;
    position : fixed;
    top: 0;
    left: 0;
    display: none;
    visibility: hidden;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease;
    -webkit-animation-name: modal;
    -webkit-animation-duration: 0.4s;
    animation-name: modal;
    animation-duration: 0.4s;
}

.body-test-title{
    width: 100%;
    height: 20%;
    background-color: rgb(218, 202, 255);
    display:inline-block;
    overflow: hidden;
}

.test-description{
    display:inline-block;
    overflow: hidden;
}

.test-container{
    width: 600px;
    height: 300px;
    margin: auto;
    background-color: rgb(55, 54, 56);
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    border-radius: 10px;
    position: relative;
   
}


@media screen and (max-width: 675px) {

    .button-div{
        padding-left: 40%;
    }
    
    .body-test{
        margin: 0px auto 0;
        width: 100%; 
        height: 40%;
    }

    .test-div{
        width: 80%;
        margin-top:10%;
    }
}