<div class="head">
<div class="label">
  <label for="button-menu">≡­</label> 
</div>

<div class="title"> 
   <div >
      <h1 class="header-title">V-TASK</h1>
   </div>
</div>

<input type="checkbox" id="button-menu">


<div class="nav">
  <div class="nav-menu">
    <nav class="menu">
      <a href="index">Examenes</a>
      <a routerLink="history">Historial</a>
      <a href="register">Registrarse</a>
      <a href="login">Salir</a>
    </nav>
    <label for="button-menu" class = "close">X</label>
    </div>
  </div>
  
</div>
