<div class="head">
<div class="label">
  <label for="button-menu">≡­</label> 
</div>

<div class="title"> 
   <div >
      <h1 class="header-title">V-TASK</h1>
   </div>
</div>

<input type="checkbox" id="button-menu">


<div class="nav">
  <div class="nav-menu">
    <nav class="menu">
      <a href="#">Examenes</a>
      <a routerLink="page/history">Historial</a>
      <a href="#">Registrarse</a>
      <a href="#">Salir</a>
    </nav>
    <label for="button-menu" class = "close">X</label>
    </div>
  </div>
  
</div>
