
<!--<mat-spinner value="40"></mat-spinner>-->
<div class="body-login">
    
<div class="slider">

    <div class="slide-login">  
        <ul>
        <li><img src="../../../assets/img/car1.1.png" alt=""></li>
        <li><img src="../../../assets/img/car1.2.png" alt=""></li>
        <li><img src="../../../assets/img/car1.3.png" alt=""></li>
        <li><img src="../../../assets/img/car1.4.png" alt=""></li> 
        </ul>
    </div>
  
</div>


    <div class="login">
        <h1 id="title-login">Login</h1>

    <div> 
         <h1>Username <input class="form" type="text"></h1>   
    </div>

    <div> 
        <h1>Password <input type="password">
        </h1>
    </div>

    <div class="button-login-container"> 
        <button id="login-button">INGRESAR
        </button> 
    </div>
    
  </div>
  

</div>
