 *{
  /* border: 1px solid black;*/
 }
 
 .body-table{
    margin-top:50px;
    width: 100%;
    height: 80%;
    flex-direction: column;
    display: flex;
    
  }
  
 .filter{
     
     width: 100%;
     height: 30px;
     display: flex;
     justify-content: center;
 }

 .div-filter{
   width: 70%;
 
 }

 

  .table{
      justify-content: center;
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
  }

  table{
      margin-top:10px;
      width: 70%;
      height: 50%;
  }
  
  @media screen and (max-width: 675px) {
    table{
      width: 100%;
    }
  }